<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header>

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> 仪表盘 <span class="tag tag-info">NEW</span></a>
            </li>
            
            <li class="divider"></li>
            <li class="nav-title">
                内容
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/article']"><i class="icon-docs"></i> 文章管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/category']"><i class="icon-grid"></i> 分类管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active"><i class="icon-tag"></i> 标签管理</a>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Contents</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Pages</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown open" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 站点设置</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings/navigation']"><i class="icon-puzzle"></i> 栏目设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Templates</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                <a class="btn btn-secondary" href="#"><i class="icon-support"></i> &nbsp;Help</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
</main>

<footer class="footer">
    <span class="text-left">
        <a href="http://coreui.io">CoreUI</a> &copy; 2016 creativeLabs.
    </span>
    <span class="float-xs-right">
        Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
