.cate-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        > .item-inner {
            background-color: #ffffff;
            padding: 8px 15px;
            margin: 2px;

            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 0.8)
            }
        }

        > cms-category-list > ul.cate-list {
            margin-left: 30px;
        }
    }
}